.delete-button {
    cursor: pointer;
}

.drag-handle {
    cursor: row-resize;
}

.form-error-text {
    color: red;
    font-weight: bold;
    text-align: center;
}

/*
.va {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
*/